<br>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-10">
    <strong style="font-size:24px">Editing Category</strong>
      
  </div>
</div>

<%= render 'form', :show_text => "Update" %>

<%= link_to 'Back', categories_path, class: "pull-right",style: "margin-right:100px;color:green" %>
