<h1 style="background-color:blue;margin-top=-1">Sample Inventory Application</h1>
<br>
<div><%= link_to 'Check out our Categories', categories_path,style:"color:green;margin-left:90px" %></div>

<div><%= link_to 'Check out Products ', products_path,style:"color:green;margin-left:90px" %></div>

<div><%= link_to 'Check out Sale order ', orders_path,style:"color:green;margin-left:90px" %></div>
